# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Python virtual environment
bin/
lib/
lib64/
include/
pyvenv.cfg

# Ignore IDE settings
.idea/
*.iml
.vscode/
